h1 {color:green;
font-family:Comfortaa;
text-align:center;
}

p {color:brown;
font-family:Comfortaa;
text-align:center;
}

h2 {color:blue;
font-family:Comfortaa;
text-align:center;
}

tbody {background-color:light-gray;
}


